
name: Build Example
on:
    workflow_dispatch:

jobs:
   build:
     runs-on: ubuntu-latest

     steps:
       - name: Checkout
         uses: actions/checkout@v5.0.1

       - name: npm framework
         uses: actions/setup-node@v6.0.0

       - name: install dependencies
         run: npm install

       - name: ZIP up code
         run: zip -r app_package.zip . -x ".git/*" ".github/*"

       - name: unit tests
         run: npm test -- --coverage

       - name: Better Test Reports Action
         uses: mridang/action-test-reporter@v1.3.0
         with:
           github-token: ${{ secrets.GITHUB_TOKEN }}
           coverage-file: coverage/lcov.info
           upload-coverage-report: true
         if: always()

       - name: Docker Setup Buildx
         uses: docker/setup-buildx-action@v3

       - name: Log in to Docker Hub
         uses: docker/login-action@v3
         with:
           username: ${{ secrets.DOCKERHUB_USERNAME }}
           password: ${{ secrets.DOCKERHUB_TOKEN }}

       - name: Build and push Docker image
         uses: docker/build-push-action@v5
         with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/dockertest:latest
         
              
        
