
name: Build Example
on:
    workflow_dispatch:

jobs:
   build:
     runs-on: ubuntu-latest

     steps:
       - name: Checkout
         uses: actions/checkout@v5.0.1

       - name: npm framework
         uses: actions/setup-node@v6.0.0

       - name: install dependencies
         run: npm install

       - name: ZIP up code
         run: zip -r app_package.zip . -x ".git/*" ".github/*"

       - name: unit tests
         run: npm test

       - name: Better Test Reports Action
         uses: phoenix-actions/test-report-action@v1.3.0
         with:
           coverage-files: coverage/lcov.info
         if: always()
